@using Tilework.LoadBalancing.Enums
@using Tilework.Core.Enums
@using Tilework.LoadBalancing.Interfaces
@using Tilework.CertificateManagement.Interfaces
@using Tilework.CertificateManagement.Models
@using Tilework.LoadBalancing.Models
@using System.Linq

@namespace Tilework.Ui.Components.Pages

@inject ILoadBalancerService _loadBalancerService
@inject IDialogService _dialogService
@inject NavigationManager _navigationManager
@inject ISnackbar _snackbar
@inject ICertificateManagementService _certificateService

@page "/lb/loadbalancers/{Id:guid}"

<PageTitle>Load balancer details</PageTitle>

<GenericDetailview Title="@_item.Name" Breadcrumbs="@_breadcrumbs" Actions="@_actions">
    <DetailContent>
        <MudGrid Spacing="5">
            <MudItem>
                <MudText Typo="Typo.subtitle2">Type</MudText>
                <MudText Typo="Typo.body2">@(_item is ApplicationLoadBalancerDTO appBalancer ? "Application" : "Network")</MudText>
            </MudItem>
            <MudItem>
                <MudText Typo="Typo.subtitle2">Status</MudText>
                @if (_item.Enabled)
                {
                    <MudChip T="string" Size="Size.Small" Color="Color.Success">Enabled</MudChip>
                }
                else
                {
                    <MudChip T="string" Size="Size.Small" Color="Color.Error">Disabled</MudChip>
                }
            </MudItem>
        </MudGrid>
    </DetailContent>
    <TabContent>
        @if(_item is ApplicationLoadBalancerDTO appBalancer)
        {
            <MudTabPanel Text="Rules">
                <MudDataGrid T="RuleDTO" Outlined="true" Items="_rules" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Rules</MudText>
                        <MudSpacer />
                        <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Primary" OnClick="AddRule">Add rule</MudButton>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="t => t.Priority" Title="Priority" Editable="false" />
                        <TemplateColumn Title="Conditions">
                            <CellTemplate>
                                @for (int i = 0; i < context.Item.Conditions.Count; i++)
                                {
                                    var condition = context.Item.Conditions[i];

                                    <div>
                                        <strong>@condition.Type.GetDescription()</strong>
                                        &#61;
                                        @for (int j = 0; j < condition.Values.Count; j++)
                                        {
                                            @condition.Values[j]
                                            @if (j != condition.Values.Count - 1)
                                            {
                                                <strong> OR </strong>
                                            }
                                        }
                                    </div>

                                    @if (i != context.Item.Conditions.Count - 1)
                                    {
                                        <div><strong>AND</strong></div>
                                    }
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="t => _loadBalancerService.GetTargetGroup(t.TargetGroup).Result.Name" Title="Target group" />
                        <TemplateColumn CellClass="d-flex justify-end">
                            <CellTemplate>
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => EditRule(context.Item))" />
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@(() => ConfirmDeleteRule(context.Item))" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            </MudTabPanel>
        }
        @if(_showCertificates)
        {
            <MudTabPanel Text="Certificates">
                <MudDataGrid T="CertificateDTO" Outlined="true" Items="_certificates" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Certificates</MudText>
                        <MudSpacer />
                        <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Primary" OnClick="AddCertificate">Add certificate</MudButton>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="t => t.Name" Title="Name" Editable="false" />
                        <PropertyColumn Property="t => t.Fqdn" Title="FQDN" Editable="false" />
                        <TemplateColumn CellClass="d-flex justify-end">
                            <CellTemplate>
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@(() => ConfirmDeleteCertificate(context.Item))" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            </MudTabPanel>
        }
        <MudTabPanel Text="Monitoring">
            <MudText>TODO</MudText>
        </MudTabPanel>

    </TabContent>
</GenericDetailview>



@code {
    [Parameter]
    public Guid Id { get; set; }

    private BaseLoadBalancerDTO _item;
    private List<RuleDTO> _rules = new();
    private List<CertificateDTO> _certificates = new();
    private bool _showCertificates;

    private List<BreadcrumbItem> _breadcrumbs = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "/", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Load balancers", href: "/lb/loadbalancers", icon: Icons.Material.Filled.AltRoute)
    };

    private List<ActionItem> _actions = new List<ActionItem>();

    protected override async Task OnInitializedAsync()
    {
        _item = await _loadBalancerService.GetLoadBalancer(Id);
        if(_item == null)
        {
            _navigationManager.NavigateTo("/lb/loadbalancers");
            _snackbar.Add($"Load balancer {Id} not found", Severity.Error);
            return;
        }

        _showCertificates =
            (_item is ApplicationLoadBalancerDTO alb && alb.Protocol == AlbProtocol.HTTPS) ||
            (_item is NetworkLoadBalancerDTO nlb && nlb.Protocol == NlbProtocol.TLS);

        await GetRules();
        if(_showCertificates)
        {
            await GetCertificates();
        }

        _breadcrumbs.Add(new BreadcrumbItem(_item.Name, href: null, disabled: true));

        SetActions();
    }

    private async Task ConfirmDelete()
    {
        var parameters = new DialogParameters<ConfirmDialog>();
        parameters.Add(x => x.ContentText, "Do you really want to delete the load balancer? This process cannot be undone.");
        parameters.Add(x => x.ButtonText, "Delete");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

        var dialog = _dialogService.Show<ConfirmDialog>("Delete", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            try {
                await _loadBalancerService.DeleteLoadBalancer(_item.Id);
                await _loadBalancerService.ApplyConfiguration();
                _navigationManager.NavigateTo("/lb/loadbalancers");
                _snackbar.Add($"Load balancer deleted successfully", Severity.Success);
            }
            catch(Exception ex)
            {
                _snackbar.Add($"Failed to delete load balancer: {ex.Message}", Severity.Error);
            }
        }
    }

    private async Task AddRule()
    {
        var rule = new RuleDTO();
        var parameters = new DialogParameters<RuleDialog>();
        parameters.Add(x => x.Rule, rule);
        parameters.Add(x => x.TargetGroups, await GetAlbTargetGroups());

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

        var dialog = _dialogService.Show<RuleDialog>("Add rule", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            if(_item is ApplicationLoadBalancerDTO appBalancer)
            {
                await _loadBalancerService.AddRule(appBalancer, rule);
                await GetRules();
                await _loadBalancerService.ApplyConfiguration();
            }
            else
            {
                _snackbar.Add("Can only add rules to application load balancers", Severity.Error);
            }
        }
    }

    private async Task EditRule(RuleDTO rule)
    {
        var ruleEdit = new RuleDTO
        {
            Id = rule.Id,
            Priority = rule.Priority,
            LoadBalancer = rule.LoadBalancer,
            TargetGroup = rule.TargetGroup,
            Conditions = rule.Conditions.Select(c => new Condition
            {
                Type = c.Type,
                Values = c.Values.ToList()
            }).ToList()
        };

        var parameters = new DialogParameters<RuleDialog>();
        parameters.Add(x => x.Rule, ruleEdit);
        parameters.Add(x => x.TargetGroups, await GetAlbTargetGroups());
        parameters.Add(x => x.Title, "Edit rule");
        parameters.Add(x => x.ButtonText, "Save");
        parameters.Add(x => x.Icon, Icons.Material.Filled.Edit);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

        var dialog = _dialogService.Show<RuleDialog>("Edit rule", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            if (_item is ApplicationLoadBalancerDTO appBalancer)
            {
                await _loadBalancerService.UpdateRule(appBalancer, ruleEdit);
                await GetRules();
                await _loadBalancerService.ApplyConfiguration();
            }
            else
            {
                _snackbar.Add("Can only edit rules on application load balancers", Severity.Error);
            }
        }
    }

    private async Task ConfirmDeleteRule(RuleDTO rule)
    {
        var parameters = new DialogParameters<ConfirmDialog>();
        parameters.Add(x => x.ContentText, "Do you really want to delete the rule? This process cannot be undone.");
        parameters.Add(x => x.ButtonText, "Delete");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

        var dialog = _dialogService.Show<ConfirmDialog>("Delete", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled && _item is ApplicationLoadBalancerDTO appBalancer)
        {
            await _loadBalancerService.RemoveRule(appBalancer, rule);
            await GetRules();
            await _loadBalancerService.ApplyConfiguration();
        }
    }

    private async Task AddCertificate()
    {
        var parameters = new DialogParameters<CertificateDialog>();
        parameters.Add(x => x.Certificates, await GetAvailableCertificates());

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

        var dialog = _dialogService.Show<CertificateDialog>("Add certificate", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var cert = (Guid) result.Data;
            await _loadBalancerService.AddCertificate(_item, cert);
            await GetCertificates();
            await _loadBalancerService.ApplyConfiguration();
        }
    }

    private async Task ConfirmDeleteCertificate(CertificateDTO certificate)
    {
        var parameters = new DialogParameters<ConfirmDialog>();
        parameters.Add(x => x.ContentText, "Do you really want to delete the certificate from the load balancer? This process cannot be undone.");
        parameters.Add(x => x.ButtonText, "Delete");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

        var dialog = _dialogService.Show<ConfirmDialog>("Delete", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await _loadBalancerService.RemoveCertificate(_item, certificate.Id);
            await GetCertificates();
            await _loadBalancerService.ApplyConfiguration();
        }
    }

    private async Task<List<CertificateDTO>> GetAvailableCertificates()
    {
        var all = await _certificateService.GetCertificates();
        var installed = await _loadBalancerService.GetCertificates(_item);
        return all.Where(c => !installed.Select(ic => ic.Id).Contains(c.Id)).ToList();
    }

    private async Task<List<TargetGroupDTO>> GetAlbTargetGroups()
    {
        var protocols = new List<TargetGroupProtocol> {
            TargetGroupProtocol.HTTP,
            TargetGroupProtocol.HTTPS
        };
        return (await _loadBalancerService.GetTargetGroups()).Where(tg => protocols.Contains(tg.Protocol)).ToList();
    }

    private async Task Enable()
    {
        try {
            await _loadBalancerService.EnableLoadBalancer(_item.Id);
            _item = await _loadBalancerService.GetLoadBalancer(Id);
            _snackbar.Add("Load balancer enabled successfully!", Severity.Success);
        }
        catch(Exception ex)
        {
            _snackbar.Add($"Failed to enable load balancer: {ex.Message}", Severity.Error);
        }
        SetActions();
    }

    private async Task Disable()
    {
        try {
            await _loadBalancerService.DisableLoadBalancer(_item.Id);
            _item = await _loadBalancerService.GetLoadBalancer(Id);
            _snackbar.Add("Load balancer disabled successfully!", Severity.Success);
        }
        catch(Exception ex)
        {
            _snackbar.Add($"Failed to disable load balancer: {ex.Message}", Severity.Error);
        }

        SetActions();
    }

    private void SetActions()
    {
        _actions = new List<ActionItem>
        {
            new ActionItem() { Name="Edit", Href=$"/lb/loadbalancers/{Id}/edit" },
            new ActionItem() { Name="Delete", OnClick=ConfirmDelete },
            new ActionItem()
            {
                Name = _item.Enabled ? "Disable" : "Enable",
                OnClick = _item.Enabled ? Disable : Enable
            }
        };
    }

    private async Task GetRules()
    {
        if(_item is ApplicationLoadBalancerDTO appBalancer)
        {
            _rules = await _loadBalancerService.GetRules(appBalancer);
        }
    }

    private async Task GetCertificates()
    {
        _certificates = await _loadBalancerService.GetCertificates(_item);
    }
}
